<div class="col-3">
<div class="card border-info mb-3">
  <div class="title card-header bg-info border-info text-white">{{vote_count}} {{format_plural "vote" vote_count}}</div>
  <div class="card-body">
    <h5 class="card-tile"><a href='/post/{{id}}'>{{title}}</a></h5>
    <a class="btn" href={{post_url}} target="external"><i class="fa fa-imdb" style="font-size:50px;color:black"></i></a></br>
    <a href="/dashboard/edit/{{id}}" class="edit-link">Edit Nomination</a></br></br></br>
  </div>
  </div>
</div>

