<article class="post">
  <div class="title">
    <a href='/post/{{id}}'>{{title}}</a>
    <span>Suggested by {{user.username}} on {{format_date created_at}}</span>
    <div>
      <p>{{ content }}</p>
    </div>
    <div class="meta">
      {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    </div>
    <div>
      <button type="button" class="upvote-btn">vote</button>
    </div>
  </div>
</article>